* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1{
  font-size: 2vw;
}

main {
  display: flex;
  /* gap: 13vw; */
  /* justify-content: space-between; */
  width: 70%;
  margin: auto;
  padding: 1.5vw;
  gap: 4vw;
}

/* ------Este codigo es del registro------ */
.seccion_ingreso {
  /* padding: 2vw; */
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contenido_logo {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.logo {
  width: 2.5vw;
}

.texto_logo {
  font-size: 1.5vw;
}

.contenido_registro {
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}

form {
  display: grid;
  row-gap: 3vh;
  width: 100%;
}

label {
  font-size: 1vw;
  font-weight: 600;
  padding: 1vh 0px;
}

.registros{
  display: grid;
}

input[type=text], input[type=email], input[type=password] {
  padding: 0px 0.5vw;
  display: inline-block;
  border: 0.1vh solid #ccc;
  border-radius: 0.6vw;
  transform: translateY(-50%);
  background-color: white;
  width: 29vw;
  height: 3.5vh;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 1vh 0vh;
  border: none;
  cursor: pointer;
  width: 29vw;
  font-weight: 700;
}

input[type=submit]:hover {
  opacity: 0.8;
}



/* -----Este codigo es de la imagen----- */
.seccion_contenido{

}

.seccion_contenido-img{

position: relative;

width: 36vw;

height: 100vh;
}

.imagen_contenido{

}

.seccion_contenido-text{
  
}